div{
    background-color:orange;
    color : white;
    text-align: end;

}
a{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}
hr{
        
        color : orange
    
}
h1{
    text-align: center
}
b{
    font-size: 40px;
    padding-left: 50px;
}